html {
    margin: 0 auto;
    padding: 0;
    background-color: #063607;
    scroll-behavior: smooth;
}

main {
    margin-top: 10vh;
    width: 90%;
    margin-left: 5%;
}


.navbar {
    width: 100%;
    background-color: #dde3e9;
    overflow: auto;
    border-radius: 5px;
}

div.navbar img {
    width: 40px;
    height: auto;
    float: right;
    margin-top: 2px;
    margin-right: 15px;
}
  
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: #063607;
    text-decoration: none;
    font-size: 17px;
    border-right: 1px solid #000;
}

.navbar a:last-child {
    border-right: none;
}
  
.navbar a:hover {
    background-color: #ce0b0b;
    color: #dde3e9;
}
  
 @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
}

.fa {
    color: #063607;
}

.navbar a:hover i {
    color: #dde3e9
}  

.box {
    position: relative;
    box-shadow: 20px 40px 60px rgba(0, 0, 0, .5);
    padding: 10px;
    background: #ce0b0b;
    height: 80vh;
    border-radius: 20px;
}
  


.boximg {
    width: 96px;
    height: auto;
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}
  
.box::after {
    content: '';
    position: absolute;
    z-index: -1; 
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.3); 
    width: 70%; 
    left: 15%; 
    height: 100px;
    bottom: 0;
}
 
.box2 {
    position: relative;
    box-shadow: 20px 40px 60px rgba(0, 0, 0, .5);
    padding: 10px;
    background: #dde3e9;
    height: 80vh;
    border-radius: 20px;
    margin-top: 20vh;
    margin-bottom: 10vh;
}
  
.boximg2 {
    width: 96px;
    height: auto;
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}
  
.box2::after {
    content: '';
    position: absolute;
    z-index: -1; 
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.3); 
    width: 70%; 
    left: 15%;
    height: 100px;
    bottom: 0;
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 10px; 
    right: 20px;
    z-index: 99; 
    border: solid black; 
    outline: none; 
    background-color: #ce0b0b; 
    color: #dde3e9; 
    cursor: pointer;
    width: 10%;
    height: 5vh; 
    border-radius: 5px;
    font-size: 18px; 
}
  
#myBtn:hover {
    background-color: #dde3e9;
    color: black;
 }

h1 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 5em;
    margin-left: 10%;
    width: 50%;
}

p {
    font-family: 'Merriweather', serif;
    font-size: 2.5em;
    margin-left: 10%;
    margin-right: 20%;
}

.gift img {
    width: 90px;
    height: auto;
    float: left;
    margin-top: 50px;
    margin-left: 50px;
}

.pengu img {
    width: 90px;
    height: auto;
    float: left;
    margin-top: 50px;
    margin-left: 50px;
}